# Python
__pycache__/
*.pyc

# Virtual environments
.venv/

# PyInstaller
build/
dist/
KezanAI.spec

# Environment files
.env

# Test artifacts
.pytest_cache/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/src-tauri/target/
frontend/src-tauri/icons/
frontend/favicon.ico
frontend/icons/

# Binary artifacts
Agent.md
*.rar
